@using MarketPlace.Entities.Advertisements;
@model Advertisement
<html>
<head>
    <title>Bootstrap UI Components</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="height: 150px;background: url('../../Content/images/banners/(5).jpg')">
            <div class="col-lg-offset-1 col-lg-3">
                <br />
                <div class="profile-image">
                    <div class="img-thumbnail">
                        <img src="../../Content/images/users/agent1-1.jpg" style="height: 100px; width: 100px" />
                    </div>
                </div>
            </div>
            <div class="col-lg-8">

            </div>
        </div>
        <div class="row">
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <div class="navbar-brand">
                            <a href="/Home/Index" class="text-info" style="font-weight: bold">
                                i
                                <span class="glyphicon glyphicon-tasks" style="transform: rotate(90deg);"></span>
                                arketplace
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">
                                    <button class="btn btn-warning btn-xs" data-target="#app-create-ad-modal"
                                            data-toggle="modal">
                                        post an Ad
                                    </button>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-user">
                                    </span>
                                    <span class="profile-user-name">
                                       @ViewBag.UserName
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.nav-area -->
        <div class="row">
            <br>
            <br>
            <div class="col-lg-2">
                @RenderPage("../shared/_RecentlyViewed.cshtml")
            </div>
            <div class="col-lg-8">
                <div class="row">
                    @if (ViewBag.Advertisements != null)
                    {
                        foreach (Advertisement item in ViewBag.Advertisements)
                        {
                            <div class="col-lg-6">
                                <div class="well well-default" style="padding: 3px;background: whitesmoke">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="img-thumbnail">
                                                <img src="~/Content/images/Others/@Url.Content(item.Images[0].Url)" class="img-responsive" style="height: 100px;width: 100%" />
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-9" style="padding: 0">
                                                    <span style="font-weight: bold; font-size: 16px">@item.Title &nbsp; @item.Price/-</span>
                                                </div>
                                                <div class="col-lg-3">
                                                    <span style="font-size: 12px">
                                                        <span class="glyphicon glyphicon-resize-full"></span>&nbsp;&nbsp;&nbsp;
                                                        <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <span style="font-size: 12px">
                                                    Samsung helps you discover a wide range of home electronics with cutting-edge technology including smartphones,
                                                    tablets, TVs, home appliances and more.
                                                </span>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <span style="font-size: 12px">
                                                    <span class="label label-danger">Orders 2 <i class="glyphicon glyphicon-arrow-up"></i></span>
                                                    <span class="label label-warning">Impressions 12 <i class="glyphicon glyphicon-arrow-up"></i></span>
                                                    <span class="label label-success">Clicks 21 <i class="glyphicon glyphicon-arrow-down"></i></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="app-create-ad-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Product/Create" method="post">

                    <div class="modal-header bg-primary">
                        <div class="modal-title text-center">
                            Post An Advertisement
                            <span class="close" data-dismiss="modal">&times;</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" id="app-ad-id">
                        </div>
                        <div class="form-group">
                            @*<input type="text" name="title" class="form-control" id="app-ad-title" placeholder="Title">
                                @Html.TextBox()*@
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Enter Title Here" })
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    @*<input type="number" name="price" class="form-control" id="app-ad-price" placeholder="Price">*@
                                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })

                                </div>
                                <div class="col-lg-6">
                                    @{
                                        List<SelectListItem> categoryOptions = new List<SelectListItem>();
                                        SelectListItem item1 = new SelectListItem();
                                        item1.Text = "Vehicles";
                                        item1.Value = "1";
                                        SelectListItem item2 = new SelectListItem();
                                        item2.Text = "Electronics";
                                        item2.Value = "2";
                                        item2.Selected = true;
                                        SelectListItem item3 = new SelectListItem();
                                        item3.Text = "Sports";
                                        item3.Value = "3";
                                        SelectListItem item4 = new SelectListItem();
                                        item4.Text = "Fitness";
                                        item4.Value = "4";
                                        SelectListItem item5 = new SelectListItem();
                                        item5.Text = "Clothes";
                                        item5.Value = "5";
                                        categoryOptions.Add(item1);
                                        categoryOptions.Add(item2);
                                        categoryOptions.Add(item3);
                                        categoryOptions.Add(item4);
                                        categoryOptions.Add(item5);
                                    }

                                    @Html.DropDownListFor(x => x.CategoryId, categoryOptions, new { @class = "form-control" })
                                    @*<select name="category" class="form-control" id="app-ad-categories">
                                            <option value="1">Vehicles</option>
                                            <option selected value="2">Electronics</option>
                                            <option value="3">Sports</option>
                                            <option value="4">Fitness</option>
                                            <option value="5">Clothes</option>
                                        </select>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<input type="text" name="image" class="form-control" id="app-ad-img" placeholder="Image Url">*@
                            @Html.TextBoxFor(x => x.Images[0].Url, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" id="app-create-ad-btn">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalR/js"></script>
    <script>

        //Create Hub
        var adminHub = $.connection.adminHub;
        //Start Connection
        $.connection.hub.start().done(function () {
            //Calling Server Function
            var userName = $(".profile-user-name").html();
            adminHub.server.userLogedIn(userName);
        });

        //Reciving Client Function
        //myHub.client.SayWelcome = function (dateTime) {
        //    alert("Wellcome User at"+dateTime)
        //};


    </script>
</body>
</html>