@model MarketPlace.Entities.Advertisements.Advertisement

@{
    ViewBag.Title = "AdertisementDetail";
}

<h2>AdertisementDetail</h2>

<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadgeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
