@using MarketPlace.Entities.Advertisements;
<html>
<head>
    <title>Bootstrap UI Components</title>
    <style>
        .product-card {
            border-radius: 0;
            padding-top: 0px;
            padding-bottom: 5px;
            background: white;
            box-shadow: 0;
        }

        h2.title {
            color: lightgray;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 700;
            margin: 0 15px;
            text-transform: uppercase;
            margin-bottom: 30px;
            position: relative;
        }

            h2.title:before {
                content: " ";
                position: absolute;
                background: #fff;
                bottom: -6px;
                width: 220px;
                height: 30px;
                z-index: -1;
                left: 50%;
                margin-left: -110px;
            }

            h2.title:after {
                content: " ";
                position: absolute;
                border: 1px solid #f5f5f5;
                bottom: 8px;
                left: 0;
                width: 100%;
                height: 0;
                z-index: -2;
            }

        .product-card-img {
            box-shadow: none;
            border: 0;
            padding-top: 30px;
        }

        .list-group-item a {
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <div class="navbar-brand">
                            <span class="text-info" style="font-weight: bold">
                                i
                                <span class="glyphicon glyphicon-tasks" style="transform: rotate(90deg);"></span>
                                arketplace
                            </span>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">
                                    Featured <span class="label label-danger">new</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">New</a>
                            </li>
                            <li>
                                <a href="#">Trending</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @if (ViewBag.IsLoggedIn == true)
                            {
                                <li>
                                    <a href="#">User</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#register-modal">Register</a>
                                </li>
                            }

                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-globe"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="theme-option" id="default"><a href="#">default</a></li>
                                    <li class="theme-option" id="flat"><a href="#">flat</a></li>
                                    <li class="theme-option" id="gradient"><a href="#">gradient</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.nav-area -->

        <div class="row">
            <div class="col-lg-2 hidden-md">
                <ul class="list-group" id="app-main-category-list">
                    <li class="list-group-item">
                        <a href="#" id="1">
                            <span class="glyphicon glyphicon-plus"></span>
                            vehicles
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" id="2">
                            <span class="glyphicon glyphicon-plus"></span>
                            electronics
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" id="3">
                            <span class="glyphicon glyphicon-plus"></span>
                            sports
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" id="4">
                            <span class="glyphicon glyphicon-plus"></span>
                            fitness
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" id="5">
                            <span class="glyphicon glyphicon-plus"></span>
                            clothes
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="thumbnail">
                    <div class="carousel slide" data-ride="carousel" data-interval="10000" id="mycarousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#mycarousel" data-slide-to="0"></li>
                            <li data-target="#mycarousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/content/images/banners/new.png" style="height: 298px;" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="/content/images/banners/new.png" style="height: 298px;" class="img-responsive">
                            </div>
                        </div>
                        <a href="#mycarousel" class="carousel-control left" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a href="#mycarousel" class="carousel-control right" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                    <img src="~/Content/images/Others/SaleImage.JPG" class="img-responsive img-thumbnail" style="height:300px" />
            </div>
        </div>
    </div>
    <!-- /.categories - banner - area -->
    <div class="row">
        <div class="col-lg-2 hidden-md">
            @if (ViewBag.IsLoggedIn == true)
            {
                @RenderPage("../shared/_RecentlyViewed.cshtml")
            }
        </div>
        <div class="col-lg-8">
            <div class="row">
                @Html.Partial("~/Views/Shared/_HomeCategoryRow.cshtml")
            </div>

            <br />
            <div class="row">
                <h2 class="title text-center">Features Items</h2>
            </div>
            <div class="row" id="app-main-products">

                @if (ViewBag.Advertisements != null)
                {
                    for (int i = 0; i < 2; i++)
                    {

                        foreach (Advertisement item in ViewBag.Advertisements)
                        {
                            @Html.Partial("~/Views/Shared/_AdvertisementCard.cshtml", item)
                        }
                    }
                }


            </div>
            <br /><br />
            <div class="row">
                <h2 class="title text-center">Categories</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/Content/images/Others/category-rows.PNG" class="img-responsive" />
                </div>
            </div>
            <br /><br />
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    </div><!-- /.container-fluid -->
    @RenderPage("../Shared/_Login.cshtml")
    @RenderPage("../Shared/_Register.cshtml")
    <div class="theme-area">

    </div>

    @section IndexScript{
        <script src="~/scripts/app-theme.js"></script>
        <script>
            $(function () {
                $("#app-main-products").hide();
                setTimeout(function () {
                    $("#app-main-products").fadeIn(2000);
                }, 1000);
            })

        </script>
    }
</body>
</html>