@*@using iMarketPlace.Web.Models
@model Person

<div class="modal fade" id="register-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <div class="modal-title text-center">
                    Register
                    <span class="close" data-dismiss="modal">&times;</span>
                </div>
            </div>
            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.LabelFor(x => x.FirstName, new { @class = "registration-form-label" })
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-6">
                            @Html.LabelFor(x => x.LastName, new { @class = "registration-form-label" })
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.Email, new { @class = "registration-form-label" })
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
                            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.Password, new { @class = "registration-form-label" })
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "registration-form-label" })
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control registration-form-select" id="CityId" name="CountryId">
                                <option disabled="disabled" selected="selected">Country</option>
                                <option value="0">Pakistan</option>
                                <option value="1">Iran</option>
                                <option value="2">China</option>
                            </select>
                            @Html.ValidationMessageFor(x => x.CountryId)

                        </div>
                        <div class="col-lg-6">
                            <select class="form-control registration-form-select" name="CityId" id="CityId">
                                <option disabled="disabled" selected="selected">City</option>
                                <option value="0">Lahore</option>
                                <option value="1">Islamabad</option>
                                <option value="2">Faisalabad</option>
                            </select>
                            @Html.ValidationMessageFor(x => x.CityId)
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" id="app-register-btn">Register</button>
                </div>
            }
        </div>
    </div>
</div>*@
